body {
margin: 0;
margin-bottom: 500px;
overflow:hidden;
}
#video_background { 
    position: absolute; 
    top: 0px; 
    right: 0px; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 

}
#playlist li{
    list-style:none;
}

footer{
    font-family:'Arial';
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}
table, td, th {
border:3px solid #00659E;
background:#fff;
    text-align:center;
    font-size:70px;
    color: #00659E;
    font-weight: bold;

}

table {
border-collapse: collapse;
width: 100%;
}

tr {
    height:100%;
    
}
td {
    text-align:center;
    font-size:80px;
    font-weight: bold;
    padding: 5px;
}
.activo{
border: 2px solid #fff;
background-image: linear-gradient(to right,#49a0e7, #0078BB, #49a0e7);
color:#fff;

}

.parpadea {
	  
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.5; }
  100% { opacity: 1.0; }
} 
