body {
margin: 0;
margin-bottom: 50px;
overflow:hidden;
}
#video_background { 
    position: absolute; 
    top: 0px; 
    right: 0px; 
    width: 70%; 
    height: 100%; 
    object-fit: cover; 
	float:left;
}
#playlist li{
    list-style:none;
}

#txtPublicidad{
    height:15%;
    background: #B00701;
    padding: 2px 0;
    color: #fff;
    font-size:35px;
    font-weight: bold;     
    position: absolute;
    border:4px solid #B00701;
    text-transform: uppercase;
    top:-40px;
}

footer{
    font-family:'Arial';
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    height:200px;
    
}




.tbl_turnos{
	border-collapse: collapse;
	width: 100%;
	border:3px solid #7E200B;
	background:#fff;
    text-align:center;
    font-size:55px;
    color: #7E200B;
    font-weight: bold;		
}

.tbl_turnos_tr{
	height:100%;
    border:3px solid #7E200B;
	background:#fff;
    text-align:center;
    font-size:55px;
    color: #7E200B;
    font-weight: bold;
}



.tbl_turnos_td{
	text-align:center;
    font-size:55px;
    font-weight: bold;
    padding: 5px;
    height: 80px;
    width: 50%;
    background-color: #D6D6D6;
    border:3px solid #7E200B;
    text-align:center;
    color: #7E200B;
	
}



.activo{
border: 2px solid #fff;
background-image: linear-gradient(to right,#b01501, #b00701, #b01501);
color:#fff;

}

.parpadea {
	  
  animation-name: parpadeo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.5; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.5; }
  100% { opacity: 1.0; }
} 

#titulo_proximo_turno{
	height: 90px;
	background-color: #B00701;  
	line-height: 90px;  
	text-align: center; 
	text-align: center; 
	font-size: 80px;
	color: #D6D6D6;	
	margin-bottom: 10px;
	font-weight: bold;
}

.nombreEspera {
	background-color:#b00701;
	border-radius:20px;
	border:1px solid #b00701;
	display:inline-block;
	cursor:pointer;
	color:#d6d6d6;
	font-family:Arial;
	font-size:40px;
	padding:8px 120px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	float:left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 3px;
	width: 40px;
	text-align:left;
}
.numeroEspera {
	background-color:#b00701;
	border-radius:20px;
	border:1px solid #b00701;
	display:inline-block;
	cursor:pointer;
	color:#d6d6d6;
	font-family:Arial;
	font-size:40px;
	padding:8px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
	float:left;
	margin-bottom: 3px;
}


.datagrid table { 
	border-collapse: collapse; text-align: left; width: 100%; 
} 
.datagrid {
	font: normal 12px/150% Arial, Helvetica, sans-serif; 
	background: #fff; 
	overflow: hidden; 
	border: 1px solid #991821; 
	/*-webkit-border-radius: 3px;*/ 
	/*-moz-border-radius: 3px;*/ 
	/*border-radius: 3px;*/ 
}
.datagrid table td, .datagrid table th { 
	padding: 3px 10px; 
}
.datagrid table thead th {
	background:#B00701;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');
	background-color:#B00701; 
	color:#FFFFFF; 
	font-size: 100px; 
	font-weight: bold; 
	border-left: 1px solid #D6D6D6; 
} 
.datagrid table thead th:first-child { 
	border: none; 
}
.datagrid table tbody td { 
	color: #80141C; 
	border-left: 1px solid #F7CDCD;
	font-size: 40px;
	font-weight: normal; 
	height: 54px;
	text-align: center;
}
.datagrid table tbody .alt td { 
	background: #F7CDCD; 
	color: #000000; 
}
.datagrid table tbody td:first-child { 
	border-left: none; 
}
.datagrid table tbody tr:last-child td { 
	border-bottom: none; 
}