* {
    box-sizing: border-box;

  }

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;    
}

.barra{
    display: flex;
    margin:5px;
    border: 2px #911A1A solid;
    left: 0;
    width: 100%;
    padding: 0 15px;
}

.centro{
    display: flex;
    align-items: center; 
    width: 100%;
}

.centro .row{
    padding: 0px;
}
#video_background{
    width:100%;
    margin-top:-10px;
}

#public-texto{
    text-align: center;
    width: 100%;
    margin-top: -20px;
    font-size: 25px;
    height: 480px;
    color:#ccc;
    font-weight: bold;
    background: #911A1A;
    border: 2px #911A1A solid;
}

#public-texto td:before {
    content: "\00BB \0020";
}

.publicidad thead th{
    background: 911A1A;
    height: 40px; 
}
.turnos {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    color: white;
}


/*reloj*/
#time {
  font-family: tahoma;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
  color: #911A1A;
  text-shadow: 10px 5px 5px #bbb;
}

#date {
  font-family: Arial;
  font-size: 10v;
  text-align: center;
  text-shadow: 0px 0px 20px #911A1A;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer td {
    border: 5px #fff solid;
    font-family: Arial;
    background: #bbbbbb;
    color: #911A1A;
    text-align:center;
    padding:0;
    font-size: 50px;
    font-weight: bold;
}

.activo{
    border: 5px #fff solid;
    color: #ccc;
    font-family: Arial;
    background:#911A1A;
    text-align:center;
    padding:0;
    font-size: 50px;
    font-weight: bold;
}

.parpadea {
	  
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  
    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-moz-keyframes parpadeo{  
    0% { opacity: 1.0; }
    50% { opacity: 0.8; }
    100% { opacity: 1.0; }
  }
  
  @-webkit-keyframes parpadeo {  
    0% { opacity: 1.0; }
    50% { opacity: 0.8; }
     100% { opacity: 1.0; }
  }
  
  @keyframes parpadeo {  
    0% { opacity: 1.0; }
     50% { opacity: 0.8; }
    100% { opacity: 1.0; }
  } 
.col-container {
    display: table;
    
}
.col {
    display: table-cell;
    padding: 16px;
}